@include bp-small {

  .portfolio-item {
    margin: 0;
    width: 50%;
  }

}

@include bp-medium {

  .wrapper {
    margin: 0 auto;
    max-width: 1000px;
  }

}

@include bp-large {

  .portfolio-grid {
    margin: 0 auto;
    max-width: 1400px;
  }

}