// Color Palette
$valencia: #da4452; //rgba(218, 68, 82, 100)
$conifer: #abd542; //rgba(171, 213, 66, 100)
$picton-blue: #30c9e8; //rgba(48, 201, 232, 100)
$ship-gray: #3C3B3D; //rgba(60, 59, 61, 100)
$white: #ffffff; //rgba(255,255,255, 100)

// Styling
$normal-gutter: 1em;
$mini-gutter: 0.5em;
$normal-spacing: 0.2em;
$mini-spacing: 0.1em;
$vertical-rhythm: 1.5rem ;
$main-font: 'PT Sans', sans-serif;
$alt-font: 'Montserrat', 'PT Sans', sans-serif;